.conteneur-flexible{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: #0AD; /*Bleu*/
    width: 100%;
    border: 2px solid blue;
    box-sizing: border-box;
    margin: 10px;
}
.title{
    flex-direction: column;
    height: 50px;
}
.global{
    flex-direction: row;
    height: 200px;
}

.element-flexible{
    height: 95%;
    background-color: #0DA; /*Vert*/
    border: 2px solid green;
    box-sizing: border-box;
    margin: 10px;
}
.menu{
    width: 25%;
}
.contenu{
    width: 70%;
}