.conteneur-flexible{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: #0AD; /*Bleu*/
    width: 100%;
    height: 50%;
    border: 2px solid blue;
    box-sizing: border-box;
    margin: 10px;
}
.title{
    height: 50px;
    flex-direction: column;
}
.menucontent{
    height: 500px;
    flex-direction: row;
}

.element-flexible{
    display: flex;
    height: 95%;
    background-color: #0DA; /*Vert*/
    border: 2px solid green;
    box-sizing: border-box;
    margin: 10px;
}
.menu{
    flex-direction: column;
    width: 25%;
}
.contenu{
    width: 70%;
}

.menucurrent{
    width: 100px;
    background-color: red;
    border: 2px solid darkred;
}
.menunotcurrent{
    width: 100px;
    background-color: yellow;
    border: 2px solid darkgoldenrod;
}