body{
}

.table {
    margin-bottom: 100px;
    width: 80%;
}

thead{
    background-color: lightblue;
}

th.date, th.heure, th.quantity, th.operation{
    width: 15%;
}
th.aliment{
    width: 40%;
}

.form-group {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
    margin-left: 10px;
}