body{ 
    margin-top: 5em;
}

.table {
    margin-top: 100px;
    margin-bottom: 100px;
}

thead{
    background-color: lightblue;
}

th{
    width: 15%;
}

.form-group {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}