html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fill-height {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    background: lightblue;
    flex: 1;
    
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    background-color: wheat;
    flex-direction: row;
    flex: 8;
}

.footer {
    display: flex;
    background: lightblue;
    flex: 1;

    justify-content: right;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    flex: 3;

    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    width: 100%;
    flex: 1;

    justify-content: center;
    align-items: center;
}

.menuelement{
    display: flex;
    width: 100%;
    flex: 9;

    justify-content: center;
    align-items: flex-start;
}

.text{
    display: flex;
    flex-direction: column;
    flex: 7;

    justify-content: flex-start;
    align-items: flex-start;
}

#current{
    background-color: lightgreen;
}